<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio Item - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/portfolio-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <img src="/static/img/logo.png" alt="Logo" style="width:215px;height:50px;">
    <div class="float-right" style="padding:10px">Log In</div>
    <div class="float-right" style="padding:10px">Sign Up</div>
    <!-- Page Content -->
    <div id="main-container" class="container">

        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="search-area" id="search-area">
                <form class="search small" method="get" action=".">
                    <div class="col-md-3">
                        <input class="input-lg search-field" type="text" placeholder="Name" name="q" value="{{ query }}">
                    </div>
                    <div class="col-md-3">
                        <input class="input-lg search-field" type="text" placeholder="Category" name="q" value="{{ query }}">
                    </div>
                    <div class="col-md-3">
                        <input class="input-lg search-field" type="text" placeholder="Location" name="q" value="{{ query }}">
                    </div>
                    <button type="submit" id="s" class="btn btn-default red">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>
        <!-- /.row -->

        <!-- Related Projects Row -->
        <div class="row" id="portfolio">
            <div id="portfolio-size">
                {% for image, artist in image_data %}
                    <div class="col-sm-3">
                        <div class="slightly-smaller">
                            <img class="img-responsive portfolio-item" src="/static/img/{{ artist.prefix }}/{{ image }}.jpg" alt="">
                            <div class="art-categories">
                                <a class="col-sm-8" href="/category/{{ artist.category }}">
                                    {{ artist.name }}
                                </a>
                                <a class="col-sm-4" href="/category/{{ artist.category }}">
                                    {{ artist.category }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- TypeAhead JavaScript -->
    <script src="/static/js/typeahead.jquery.js"></script>
    <script src="/static/js/the-basics.js"></script>
</body>

</html>
