<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ArtCompote</title>
    <!-- Custom CSS -->
    <link href="/static/css/portfolio-item-v2.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//load.sumome.com/" data-sumo-site-id="0044a1f609a5262ea64dc020f2b7cef8626c6bffa1fe04084aff2c68b7941d08" async="async"></script>
</head>

<body>
    <a href="/">
        <img src="/static/img/logo.png" alt="Logo" style="width:215px;height:50px;">
    </a>
    <div class="float-right" style="padding:10px">Log In</div>
    <div class="float-right" style="padding:10px">Sign Up</div>
    <!-- Page Content -->
    <div style="font-family: 'Raleway', sans-serif; margin-left:5px">
        Curated designer marketplace.
    </div>
    <div id="main-container" class="container">
        <!-- Portfolio Item Row -->
        <div class="row">
            <div class="search-area" id="search-area">
                <form class="search small" method="get" action=".">
                    <div class="col-md-3">
                        <input class="input-lg search-field" type="text" placeholder="Name" name="q" value="{{ query }}">
                    </div>
                    <div class="col-md-3">
                        <input class="input-lg search-field" type="text" placeholder="Category" name="q" value="{{ query }}">
                    </div>
                    <div class="col-md-3">
                        <input class="input-lg search-field" type="text" placeholder="Location" name="q" value="{{ query }}">
                    </div>
                    <button type="submit" id="s" class="btn btn-default" style="color:#d14">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
            </div>
        </div>
        <!-- /.row -->
        {% if text is True %}
            <div class="col-md-4" style="margin-left:15px; margin-top:30px; margin-bottom:15px;">
                Aleksandra Kazanina
                <br>
                Contact: aleksandra.kazanina@artun.ee
                <br>
                Education: Estonian Academy of Art, BA
                <br>
                Latest exhibitions: “Metal and Ceramics”, “The Reverse Garden”
            </div>
        {% endif %}
        <div class="clearfix"></div>
        <!-- Related Projects Row -->
        <div class="row" id="portfolio">
            <div id="portfolio-size">
                {% for image, artist in image_data %}
                    <div class="col-sm-3">
                        <div class="slightly-smaller">
                            <img class="img-responsive portfolio-item" src="/static/img/{{ artist.prefix }}/{{ image }}.jpg" alt="">
                            <div class="art-categories">
                                <a class="col-sm-8" href="/artist/{{ artist.prefix }}">
                                    {{ artist.name }}
                                </a>
                                <a class="col-sm-4" href="/category/{{ artist.category }}">
                                    {{ artist.category }}
                                </a>
                            </div>
                        </div>
                    </div>
                    {% ifequal forloop.counter0|modulo:4 3 %}
                        <div class="clearfix"></div>
                    {% endifequal %}
                {% endfor %}
            </div>

        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- TypeAhead JavaScript -->
    <script src="/static/js/typeahead.jquery.js"></script>
    <script src="/static/js/the-basics.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88356563-1', 'art-compote.com');
      ga('send', 'pageview');

    </script>
    </body>

</html>
